<!DOCTYPE html>
{% load static %}

<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <title>Academic Core</title>
      <link rel="stylesheet" type="text/css" href="home.css">
      <link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}">
  </head>
  <body>
  <body style="background-color:grey";>
    <center><h1>Academic Core requirements</h1>
    <p><a href="https://studiegids.uva.nl/xmlpages/page/2019-2020-en/search-course/course/68430">Academic Writing Skills</a><p>
    <p><a href ="https://studiegids.uva.nl/xmlpages/page/2019-2020-en/search-course/course/68566">Logic, Information, Argumentation</a><p>
    <p><a href="https://studiegids.uva.nl/xmlpages/page/2019-2020-en/search-course/course/68210">The Global Identity Experience</a><p>
    <p><a href="https://studiegids.uva.nl/xmlpages/page/2019-2020-en/search-course/course/68306">Advanced Research Writing</a><p>  
    <p>One Big Questions course<p>  
    <p>Two consecutive levels of a single language<p>  
    <p><a href="https://www.auc.nl/academic-programme/programme-structure/outreach/community-projects-internships.html">Community Project or Internship</a><p>x
  </body>

  </html>
