<!DOCTYPE html>
{% load static %}

<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <title>AUCourse Reviews</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}">
  </head>
  <body>
    <div id="title">
      <center><h1>AUCourse reviews</h1></center>
    </div>
    <div class="container">
      <div class="majors">
	<img src="https://images.freeimages.com/images/large-previews/c85/black-hole-1200379.jpg" alt="Science" style="width:100%;">
	<div class="text-block">
	  <h4>Sciences</h4>
	  <a>Click for reviews</a>
	</div>
      </div>  
      <div class="majors">
	 <img src="https://images.freeimages.com/images/large-previews/c85/black-hole-1200379.jpg" alt="Science" style="width:100%;">
        <div class="text-block">
          <h4>Social sciences</h4>
          <a>Click for reviews</a>
        </div>
      </div>
      <div class="majors">
         <img src="https://images.freeimages.com/images/large-previews/c85/black-hole-1200379.jpg" alt="Science" style="width:100%;">
	<div class="text-block">
          <h4>Humanities</h4>
          <a>Click for reviews</a>
        </div>
      </div>
    </div>
  </body>

  </html>
