<!DOCTYPE html>
{% load static %}

<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <title>Major: Sciences</title>
      <link rel="stylesheet" type="text/css" href="home.css">
      <link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}">
  </head>
  <body>
  <body style="background-color:grey";>
    <center><h1>Sciences</h1>
      <img src= "https://www.auc.nl/binaries/_ht_1588430866264/content/gallery/projectsites/amsterdam-university-college/academic-programme/placemats/2020-2021/sciences-placemat-2020-2021.jpg" alt= "Sci placemat" usemap="#workmap" width="1200" height="800">

      <map name="workmap">
        <area shape="rect" coords="0,100,0,100" alt="thing" href="{% url 'advancedprogramming' %}">
      </map>
  </body>

  </html>
