<!DOCTYPE html>
{% load static %}

<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <title>Major: Social Sciences</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/home.css' %}">
  </head>
  <body>
  <body style="background-color:grey";>
    <center><h1>Social Sciences</h1>
      <img src= "https://www.auc.nl/binaries/_ht_1588431633295/large/content/gallery/projectsites/amsterdam-university-college/academic-programme/placemats/2020-2021/social-sciences-placemat-2020-2021.jpg" alt = "SSC placemat" style="width:1200px;height:800px;">
  </body>

</html>

