<!DOCTYPE html>
<html lang="en">
<head>
  <title>Review Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.jumbotron {
  background-color: #e4cbb4; /* Orange */
color: #ffffff;
padding: 100px 25px;
}

.bg-grey {
background-color: #f6f6f9;
padding: 100px 25px;
}

</style>
<body>

  <h1>{{ course.course_name }}</h1>
  <h3>Catalogue number: {{ course.catalogue_nr }}</h3>
  <h3>Course Description: ......</h3>
  <h3>This is a link to review this course</h3> 
  <h3>This is the average rating: ....</h3>
  <h3>These are the detailed reviews on this course:</h3> 
  <ul>
    {% for review in course.review_set.all %}
    <li>{{ review.comment }} {{review.rating}}</li>
    {% endfor %}
  </ul>
  </body>
