<!DOCTYPE html>
<html lang="en">
<head>
  <title>AUCourse review</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/\css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .jumbotron{
    color: #1f1d21;
    background: #ac926e;
  </style>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AUCourse Review</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="https://www.auc.nl/">About us</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
       <li><a href="{% url 'accounts:login' %}">Login</a></li>
       <li><a href="{% url 'accounts:register' %}">Register</a></li>
      {% endif %}
      <li><a href="https://upload.wikimedia.org/wikipedia/commons/4/46/Error_Message_Example_vbs.png">Review course</a></li>

    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>




  <br>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Add Review</h3>
            <form action="{% url 'reviews' pk % 'review'}" method="POST">
                {% csrf_token %}
                {% for course in review.course_set.all %}
                    <input type="radio" name="course" id="course{{ forloop.counter }}" value="{{ course_name }}">
                   <label for="course{{ forloop.counter }}">{{ course.course_name }}</label><br>
                {% endfor %} 
                <label for="comment">Review</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
                <label for="rating">Rating</label>
                <input type="range" id="rangeInput" 
                    name="rating" min="0" max="10" value="0" step="0.5"
                    oninput="amount.value=rangeInput.value">                                                       
         
                <output name="amount" id="amount" for="rangeInput">0</output>
                
                <br>
                <input type="submit" class="btn btn-danger" value="Add Review">
            </form>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Reviews</h3>
            {% for review in reviews %}
                <div class="card" style="background-color: blue;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 class="text-left">{{ review.user.username }}</h5>
                                <h5>{{ review.rating }}</h5>
                            </div>
                            <div class="col-md-9">
                                <p>{{ review.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
        </div>
    </div>
</div>

